
body {
    padding: 0px;
    border: 0px;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    background: linear-gradient(#2c9b00, #103a00);
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    color: white;
    overflow: hidden;
}

.title {
    font-size: 8rem;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    margin-top: 2rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.die {
    margin: 1.5rem;
    width: 180px;
}

.die:nth-of-type(odd) {
    transform: rotate(-20deg);
}

.die:nth-of-type(even) {
    transform: rotate(20deg);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 150%;
}

input {
    all: unset;
    caret-color: transparent;
    width: 5rem;
    height: 5rem;
    padding-left: 1rem;
    background-color: #ffffff83;
    border-radius: 0.5rem;
    text-shadow: none;
    font-size: 150%;
}

.rollButton {
    all: unset;
    width: 10rem;
    height: 5rem;
    background-color: #ffffff83;
    border-radius: 0.5rem;
    margin-top: 2rem;
    text-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rollButton:hover {
    cursor: pointer;
    background-color: #ffffff2d;
}

.rollButton:active {
    scale: 90%;
    user-select: none;
}

#rollMessage {
    margin: 0;
    margin-top: 7rem;
}

#rollResult {
    margin: 0;
    margin-top: 1rem;
    font-size: 500%;
    font-weight: bold;
    transition: all 0.15s;
}